@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes move {
    from { top: 0; }
    to { top: 6000px; }
}

@keyframes circle {
    from { top: 0; }
    to { top: 40px; }
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    position: relative;
    width: 100%; height: 100%;
    margin: 0 auto;

    .figure {
        width: 100%; height: 100%;

        div {
            position: absolute;
            opacity: 0.1;
            z-index: -999;
        }

        .circle-1 {
            right: 80%;
            width: 60px; height: 60px;
            border-radius: 100px;
            animation: move 40s infinite;
            background-color: $main-color-2;
        }
    
        .circle-2 {
            right: 60%;
            width: 40px; height: 50px;
            border-radius: 0 0 50px 50px;
            animation: move 60s infinite;
            background-color: $main-color-3;
        }
    
        .circle-3 {
            right: 40%;
            width: 50px; height: 50px;
            border-radius: 100px;
            animation: move 50s infinite;
            background-color: $main-color-2;
        }

        .circle-4 {
            right: 65%;
            width: 60px; height: 60px;
            border-radius: 0 0 30px 30px;
            animation: move 70s infinite;
            background-color: $main-color-3;
        }

        .circle-5 {
            right: 5%;
            width: 70px; height: 70px;
            border-radius: 100px;
            animation: move 90s infinite;
            background-color: $main-color-1;
        }

        .circle-6 {
            right: 20%;
            width: 70px; height: 70px;
            border-radius: 100px;
            animation: move 80s infinite;
            background-color: $main-color-2;
        }

        .circle-7 {
            right: 95%;
            width: 70px; height: 70px;
            border-radius: 100px;
            animation: move 100s infinite;
            background-color: $main-color-3;
        }

        .circle-8 {
            right: 30%;
            width: 70px; height: 70px;
            border-radius: 100px;
            animation: move 75s infinite;
            background-color: $main-color-1;
        }

        .circle-9 {
            right: 70%;
            width: 30px; height: 30px;
            border-radius: 0 0 30px 30px;
            animation: move 85s infinite;
            background-color: $main-color-3;
        }

        .circle-10 {
            right: 2%;
            width: 50px; height: 50px;
            border-radius: 100px;
            animation: move 65s infinite;
            background-color: $main-color-1;
        }
    }
        
    .circle {
        position: fixed;
        z-index: 100;
        width: 50px; height: 50px;
        top: 50%; left: 50%;
        margin: 10px 0 0 10px;
        border: 1px solid orange;
        border-radius: 50%;
        backface-visibility: hidden;
        opacity: 0.5;
      }
}

//-------------------- header --------------------//
header {
    width: 100%;
    background-color: $main-color-1;

    .menu-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 999;
        padding: 0 30px;
        width: 100%; height: 100px;
        background-color: $main-color-1;

        @include responsive(pc-screens) {
            padding: 0;
        }
        
        .github {
            margin-right: 5%;
            a {
                img {
                    width: 40px;
                }
            }
        }
    
        nav {
            width: 100%;
            #gnb {
                float: right;
                li {
                    display: inline-block;
                    margin-right: 30px;

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        margin-top: 5px;
                        background: orange;
                        transform: scaleX(0);
                        transition: transform 0.3s;
                    }

                    &:hover {
                        color: orange;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                    }

                    &:nth-child(4) {
                        margin-right: 0;
                    }
                    
                    a {
                        color: $text-color1;
                        &:hover {
                            color: orange;
                        }
                    }
                }
            }
        }
    }

    #side-menu {
        position:fixed;
        z-index: 999;
        // top: 40%;
        right:0;
        width:100px;
        background:rgba(255, 255, 255, 0.5);
        
        li {
            a {
                display:block;
                padding:8px 0;
                border-bottom:1px solid orange;
                text-align:center;
                color: #606060;
                font-family: 'S-CoreDream-5Medium';

                &:hover {
                    color: #fff;
                    background: orange;
                }
            }
        }
    }
}



//-------------------- main --------------------//
main {
    width: 100%;

    .background {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -2;
        margin-bottom: 120px;
        width: 100%; height: 600px;
        background: linear-gradient(#ee0979, #ff6902);

        .profile {
            display: none;

            @include responsive(tablet-screens) {
                display: block;
            }

            img {
                width: 350px;
            }
        }

        .introduce {
            @include responsive(tablet-screens) {
                margin-left: 100px;
            }
            @include responsive(pc-screens) {
                margin-left: 400px;
            }
            p {
                color: $text-color1;

                .cursor {
                    animation: blink 0.7s infinite;
                }
            }
        }

        .circle-box {
            position: absolute;
            display: flex;
            z-index: -1;
            width: 100%; height: 100%;

            div {
                border-radius: 1000px;
            }
            
            .circle-1 {
                margin-top: 50px;
                width: 400px; height: 400px;
                background: linear-gradient(#ff6902, #ee0979);
            }

            .circle-2 {
                margin-top: -300px;
                width: 450px; height: 450px;
                background: linear-gradient(#ee0979, #ff6902);
            }

            .circle-3 {
                width: 250px; height: 250px;
                background: linear-gradient(#ee0979, #ff6902);
            }

            .circle-4 {
                margin-top: 150px;
                width: 400px; height: 400px;
                background: linear-gradient(#ff6902, #ee0979);
            }

            .circle-5 {
                margin-top: -200px;
                width: 350px; height: 350px;
                background: linear-gradient(#ee0979, #ff6902);
            }
        }
    }

    

    //----- button -----//
    .button-flex {
        display: none;
        justify-content: space-between;
        margin: 100px 0 150px 0;
        width: 100%; height: 250px;

        @include responsive(pc-screens) {
            display: flex;
        }

        div {
            width: 370px;

            h3 {
                text-align: center;
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 2px solid #ee0979;
            }

            img {
                width: 370px; height: 190px;
            }

            a {
                width: 370px; height: 190px;
                
                .dover {
                    width: 370px; height: 190px;
                }
            }
        }
    }

    //----- skill -----//
    .skill {
        .title {
            @include titie();
        }

        .skill-flex {
            display: flex;
            flex-direction: column;
            margin-bottom: 150px;

            @include responsive(pc-screens) {
                flex-direction: row;
            }

            .skill-box {
                display: flex;
                width: 100%;
                
                .skill-icon {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .icons {
                        display: flex;
                        width: 100%;

                        .icon-img {
                            width: 70px;
                            margin-right: 30px;
                            margin-bottom: 30px;
                            img {
                                width: 70px;
                            }
                        }
            
                        .skill-bar {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 30px;
                            margin-bottom: 30px;
                            width: 60%;

                            .bar {
                                position: absolute;
                                border: 3px solid $main-color-3;
                                width: 100%; height: 12px;
                                background-color: #fff;
                                border-radius: 10px;
                            }
        
                            .gauge {
                                position: absolute;
                                left: 0;
                                width:10%;
                                height: 10px;
                                background-color: $main-color-2;
                                border-radius: 10px;
                                transition: 1s linear;
                            }
                        }
                    }
                }
            }
        }
    }

    //----- design -----//
    .design {
        .title {
            @include titie();
        }

        .design-flex {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 150px;

            .design-box-1 {
                width: 100%;
                background-color: antiquewhite;

                @include responsive(pc-screens) {
                    width: 70%;
                }
                .design-1 {
                    width: 100%; height: 320px;
                    border: 2px solid #fff;
                }
                .design-2 {
                    width: 100%; height: 165px;
                    border: 2px solid #fff;
                }
            }

            .design-box-2 {
                width: 100%;
                background-color: cadetblue;

                @include responsive(pc-screens) {
                    width: 30%;
                }
                .design-3 {
                    width: 100%; height: 215px;
                    border: 2px solid #fff;
                }
                .design-4 {
                    width: 100%; height: 270px;
                    border: 2px solid #fff;
                }
            }
        }
    }



    //----- modal -----//
    #modal {
        width:100%;
        height:100%;
        position:absolute;
        left:0;
        top:0;
        background:rgba(0, 0, 0, 0.6);
        z-index:100;
        display:none;

        #modalUp {
            width:1170px;
            height:800px;
            position:fixed;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            background:#fff;

            #upTitle {
                margin-top:20px;
                text-align:center;
                font-size:20px;
                font-weight:bold;
                line-height:30px;
            }
        
            p {
                padding:30px;
                text-align:center;
                font-size:15px;
                line-height:40px;
            }
        
            #closeBtn {
                position:absolute;
                right:10px;
                bottom:10px;
                width:20px;
                height:20px;
                cursor:pointer;
                text-align:center;
                font-size:15px;
                font-weight:bold;
                border-radius:3px;
                background:#ccc;
            }
        }
    }

    #modal.active {
        display:block;
    }

    //----- web-1 -----//
    .web-1 {
        width: 100%;

        .title {
            @include titie();
        }

        .web-box {
            position: relative;
            width: 100%; height: 400px;

            .web-img-1 {
                position: absolute;
                display: none;
                img {
                    width: 100%; height: 400px;
                }
                @include responsive(pc-screens) {
                    display: block;
                }
            }

            .web-img-2 {
                position: absolute;
                display: none;
                img {
                    width: 100%; height: 400px;
                }
                @include responsive(tablet-screens) {
                    display: block;
                }
                @include responsive(pc-screens) {
                    display: none;
                }
            }

            .web-img-3 {
                position: absolute;
                display: block;
                img {
                    width: 100%; height: 400px;
                }
                @include responsive(tablet-screens) {
                    display: none;
                }
            }

            .group-text {
                position: absolute;
                top: 50%; left: 10%;
                transform: translateY(-50%);
                @include responsive(tablet-screens) {
                    left: 45%;
                }
                @include responsive(pc-screens) {
                    left: 50%;
                }
                h3 {
                    color: #fff;
                }
                p {
                    color: #fff;
                }

                .web-button {
                    text-align: left;
                    a {
                        display: inline-block;
                        text-align: center;
                        margin-right: 30px;
                        width: 90px; height: 30px;
                        border-radius: 30px;
                        line-height: 30px;
                        color: $text-color1;
                        background-color: $main-color-2;
                    }
                }
            }

            .individual-text {
                position: absolute;
                top: 50%; right: 10%;
                transform: translateY(-50%);
                @include responsive(tablet-screens) {
                    right: 45%;
                }
                @include responsive(pc-screens) {
                    right: 50%;
                }
                h3 {
                    text-align: right;
                    color: #fff;
                }
                p {
                    text-align: right;
                    color: #fff;
                }

                .web-button {
                    text-align: right;
                    a {
                        display: inline-block;
                        text-align: center;
                        margin-left: 30px;
                        width: 90px; height: 30px;
                        border-radius: 30px;
                        line-height: 30px;
                        color: $text-color1;
                        background-color: $main-color-2;
                    }
                }
            }
        }

        #gallery {
            overflow: hidden;
            width: 460px;

            @include responsive(mobile-screens) {
                width: 540px;
            }

            @include responsive(tablet-screens) {
                width: 900px;
            }

            @include responsive(pc-screens) {
                width: 1200px;
            }

            #scroller {
                display: flex;
                justify-content: space-between;
                margin: 60px 0 100px 0;
                width: 100%;

                li {
                    width: 230px; height: 130px;

                    @include responsive(mobile-screens) {
                        width: 280px; height: 180px;
                    }

                    @include responsive(tablet-screens) {
                        width: 300px; height: 200px;
                    }

                    img {
                        text-align: center;
                        width: 200px; height: 130px;
                        background-color: #606060;
                        margin-right: 30px;

                        @include responsive(mobile-screens) {
                            width: 250px; height: 180px;
                        }
                        
                        @include responsive(tablet-screens) {
                            width: 270px; height: 200px;
                        }
                    }
                }
            }
        }
    }



    .web-bar {
        margin: 0 auto;
        margin-bottom: 40px;
        width: 20px;
        border: 1px solid #606060;
    }



    //----- web-2 -----//
    .web-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 150px;
        width: 100%;

        @include responsive(pc-screens) {
            flex-direction: row;
            justify-content: space-between;
        }

        .web-2-box {
            margin: 0 auto;

            .box-1 {
                margin-top: 60px;
                margin-bottom: 40px;
                width: 100%; height: 250px;
                img {
                    width: 453px; height: 250px;

                    @include responsive(tablet-screens) {
                        width: 570px; height: 250px;
                    }
                }
            }

            .box-2 {
                margin-bottom: 20px;
                width: 100%; height: 200px;
                img {
                    width: 220px; height: 200px;
                    &:nth-child(2) {
                        float: right;
                    }

                    @include responsive(tablet-screens) {
                        width: 270px; height: 200px;
                    }
                }
            }

            .text-box {
                width: 100%;
                h3 {
                    display: inline-block;
                    padding: 2px 0;
                    border-top: 2px solid #606060;
                    border-bottom: 2px solid #606060;
                }

                p {
                    img {
                        margin-bottom: -6px;
                        width: 25px;
                    }
                }
            }
        }
    }



    //----- video -----//
    .video {
        width: 100%;
        
        .title {
            @include titie();
        }

        .video-box {
            width: 100%;

            .video {
                margin: 0 auto;
                width: 100%; height: 100%;
                @include responsive(tablet-screens) {
                    width: 800px;
                }
                @include responsive(pc-screens) {
                    width: 970px;
                }

                video {
                    width: 100%; height: 100%;
                }
            }

            .video-text {
                margin: 0 auto;
                width: 100%;
                @include responsive(tablet-screens) {
                    width: 800px;
                }
                @include responsive(pc-screens) {
                    width: 970px;
                }

                h3 {
                    display: inline-block;
                    padding: 2px 0;
                    border-top: 2px solid #606060;
                    border-bottom: 2px solid #606060;
                }

                p {
                    img {
                        margin-bottom: -6px;
                        width: 25px;
                    }
                }
            }
        }
    }

    .bar {
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 20px;
        border: 1px solid #606060;
    }
}



//-------------------- footer --------------------//
footer {
    margin-top: 150px;
    padding: 40px 0;
    width: 100%; height: 150px;
    background-color: #ff6902;
    @include responsive(tablet-screens) {
        padding: 50px 0;
    }

    .footer-text {
        @include responsive(tablet-screens) {
            display: flex;
        }

        p {
            color: #fff;
        }
    }

    #top-bt {
        position: fixed;
        z-index: 100;
        right: 50px;
        bottom: 80px;
        width: 35px; height: 35px;
        border-radius: 100px;
        background-color: #ccc;
        opacity: 0.7;

        a {
            text-align: center;
            line-height: 35px;
            color: $text-color1;

            &:hover {
                border-radius: 100px;
                background-color: orange;
            }
        }
    }
}